.chat {
    background: transparent;
    padding: 24px 19px;
    padding-right: 19px !important;
    padding-top: 0;
}

.chat > .messages {
    padding-top: 18px !important;
}

.message {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    line-height: 24px;
}

.message:first-child {
    padding-top: 0;
}

.username {
    display: none;
}

.message-body p, .message-body li {
    font-size: 15px !important;
    line-height: 24px !important;
}

.message-body p, .chat .message-body ul, .chat .message-body ol {
    margin-bottom: 16px !important;
}

.message-body p:last-child, .chat .message-body ul:last-child, .chat .message-body ol:last-child {
    margin-bottom: 0 !important;
}

.dark .message-body p em {
    color: rgb(198 202 214) !important;
}

.message-body p em {
    color: rgb(110 110 110) !important;
}

.gradio-container .chat .assistant-message {
    padding: 20px;
    background: var(--color-grey-200);
    margin-top: 9px !important;
    margin-bottom: 12px !important;
    border-radius: 7px;
    border: 1px solid var(--border-color-primary);
}

.dark .chat .assistant-message {
    background: var(--color-grey-800);
}

.gradio-container .chat .user-message {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}

.gradio-container .chat .assistant-message:last-child, .gradio-container .chat .user-message:last-child {
    margin-bottom: 0 !important;
}

code {
    background-color: #f3f4f6 !important;
}

.dark code {
    background-color: #1f2937 !important;
}
