.chat {
  background: var(--block-background-fill);
  padding: 24px 19px;
  padding-right: 19px !important;
  border: 1px solid var(--block-border-color);
  border-radius: 8px;
}

.message {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    line-height: 24px;
}

.username {
    display: none;
}

.message-body p, .message-body li {
    font-size: 15px !important;
    line-height: 24px !important;
    list-style-position: outside;
}

.message-body p, .chat .message-body ul, .chat .message-body ol {
    margin-bottom: 16px !important;
}

.chat .message-body ul, .chat .message-body ol {
    padding-inline-start: 2em;
}

.message-body p:last-child, .chat .message-body ul:last-child, .chat .message-body ol:last-child {
    margin-bottom: 0 !important;
}

.dark .message-body p em {
    color: rgb(198 202 214) !important;
}

.message-body p em {
    color: rgb(110 110 110) !important;
}

.gradio-container .chat .assistant-message {
    padding: 20px;
    background: var(--background-fill-secondary);
    margin-top: 12px !important;
    margin-bottom: 24px !important;
    margin-right: 16px;
    border-radius: 22px;
    border-bottom-left-radius: 0;
    border: 1px solid var(--border-color-primary);
}

.gradio-container .chat .user-message {
    padding: 20px;
    background-color: var(--color-accent-soft);
    border-radius: 20px;
    margin-bottom: 12px !important;
    margin-left: 16px;
    border-radius: 22px;
    border-bottom-right-radius: 0;
    border: 1px solid var(--border-color-accent-subdued);
}

.gradio-container .chat .assistant-message:last-child, .gradio-container .chat .user-message:last-child {
    margin-bottom: 0 !important;
}

code {
    background-color: #f3f4f6 !important;
}

.dark code {
    background-color: #1f2937 !important;
}