.message {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
}

.username {
    display: none;
}

.message-body p {
    font-size: 15px !important;
    line-height: 1.4 !important;
    margin-bottom: 1.25em !important;
}

.message-body ul, .message-body ol {
    margin-bottom: 1.25em !important;
}

.dark .message-body p em {
    color: rgb(198, 202, 214) !important;
}

.message-body p em {
    color: rgb(110, 110, 110) !important;
}

.gradio-container .chat .assistant-message {
    padding: 15px;
    border-radius: 20px;
    background-color: #0000000f;
    margin-top: 9px !important;
    margin-bottom: 18px !important;
}

.gradio-container .chat .user-message {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 9px !important;
}

.gradio-container .chat .assistant-message:last-child, .gradio-container .chat .user-message:last-child {
    margin-bottom: 0px !important;
}

.dark .chat .assistant-message {
    background-color: #1f2937;
    border: 1px solid #4b5563;
}

.dark .chat .user-message {
    background-color: #111827;
    border: 1px solid #4b5563;
}

code {
    background-color: white !important;
}

.dark code {
    background-color: #0e1321 !important;
}