.chat {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 66.67vh;
    overflow-y: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
}

.text p {
    margin-top: 5px;
}

.username {
    display: none;
}

.message-body {}

.message-body p {
    margin-bottom: 0 !important;
    font-size: 15px !important;
    line-height: 1.428571429 !important;
}

.dark .message-body p em {
    color: rgb(138, 138, 138) !important;
}

.message-body p em {
    color: rgb(110, 110, 110) !important;
}

.assistant-message {
  padding: 15px;
}

.user-message {
  padding: 15px;
  background-color: #f1f1f1;
}

.dark .user-message {
  background-color: #ffffff1a;
}