.chat {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 66.67vh;
    overflow-y: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding-bottom: 25px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
}

.username {
    display: none;
}

.message-body {}

.message-body p {
    margin-bottom: 0 !important;
    font-size: 15px !important;
    line-height: 1.428571429 !important;
}

.message-body li {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.message-body li > p {
    display: inline !important;
}

.dark .message-body p em {
    color: rgb(138, 138, 138) !important;
}

.message-body p em {
    color: rgb(110, 110, 110) !important;
}

.gradio-container .chat .assistant-message {
  padding: 15px;
  border-radius: 20px;
  background-color: #0000000f;
  margin-bottom: 17.5px;
}

.gradio-container .chat .user-message {
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 17.5px !important;
}

.dark .chat .assistant-message {
  background-color: #ffffff21;
}