.chat {
    background: transparent;
    padding: 0;
    padding-top: 0;
}

.chat > .messages:first-child {
    padding-top: 0 !important;
}

.chat > .messages > :last-child {
    margin-bottom: 1.7rem !important;
}

.chat .message-body p, .chat .message-body li {
    font-size: 1rem !important;
    line-height: 28px !important;
}

.dark .chat .message-body :is(p, li, q, h1, h2, h3, h4, h5, h6) {
    color: #d1d5db !important;
}

.chat .message-body :is(p, ul, ol) {
    margin: 1.25em 0 !important;
}

.chat .message-body :is(p, ul, ol):first-child {
    margin-top: 0 !important;
}

.chat .message-body :is(p, ul, ol):last-child {
    margin-bottom: 0 !important;
}

.user-message, .assistant-message {
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.message:first-child {
    padding-top: 0;
}

.username {
    display: none;
}

.chat .user-message {
    background: #f5f5f5;
    padding: 1.5rem 1rem;
    padding-bottom: 2rem;
    border-radius: 0;
    border-bottom-right-radius: 0;
}

.chat .assistant-message {
    padding: 1.5rem 1rem;
    padding-bottom: 2rem;
    border-radius: 0;
    border: 0;
}

.dark .chat .user-message {
    background: transparent;
}

.dark .chat .assistant-message {
    background: var(--light-gray);
}

.chat .user-message .text,
.chat .assistant-message .text {
    max-width: 645px;
    margin-left: auto;
    margin-right: auto;
}

/* Create space between two assistant messages in a row */
.assistant-message + .assistant-message {
    margin-top: 1.5rem;
}

pre > code {
    background-color: #f3f4f6 !important;
}

.dark pre > code {
    background-color: #1f2937 !important;
}
