.tabs.svelte-710i53 {
    margin-top: 0
}

.py-6 {
    padding-top: 2.5rem
}

.dark #refresh-button {
    background-color: #ffffff1f;
}

#refresh-button {
  flex: none;
  margin: 0;
  padding: 0;
  min-width: 50px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  background-color: #0000000d;
}

#download-label, #upload-label {
  min-height: 0
}

#accordion {
}

.dark svg {
  fill: white;
}

.dark a {
  color: white !important;
  text-decoration: none !important;
}

ol li p, ul li p {
    display: inline-block;
}

#main, #parameters, #chat-settings, #interface-mode, #lora, #training-tab {
  border: 0;
}

.gradio-container-3-18-0 .prose * h1, h2, h3, h4 {
  color: white;
}

.gradio-container {
  max-width: 100% !important;
  padding-top: 0 !important;
}

#extensions {
  padding: 15px;
  padding: 15px;
}

span.math.inline {
  font-size: 27px;
  vertical-align: baseline !important;
}
