.tabs.svelte-710i53 {
    margin-top: 0
}

.py-6 {
    padding-top: 2.5rem
}

.small-button {
    min-width: 0 !important;
    max-width: 171px;
    height: 39.594px;
    align-self: end;
}

.refresh-button {
    max-width: 4.4em;
    min-width: 2.2em !important;
    height: 39.594px;
    align-self: end;
    line-height: 1em;
    border-radius: 0.5em;
    flex: none;
}

.refresh-button-small {
    max-width: 2.2em;
}

.button_nowrap {
    white-space: nowrap;
}

#slim-column {
    flex: none !important;
    min-width: 0 !important;
}

.slim-dropdown {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

#download-label, #upload-label {
    min-height: 0
}

.dark svg {
    fill: white;
}

.dark a {
    color: white !important;
}

ol li p, ul li p {
    display: inline-block;
}

#chat-tab, #default-tab, #notebook-tab, #parameters, #chat-settings, #lora, #training-tab, #model-tab, #session-tab {
    border: 0;
}

.gradio-container-3-18-0 .prose * h1, h2, h3, h4 {
    color: white;
}

.gradio-container {
    max-width: 100% !important;
    padding-top: 0 !important;
}

#extensions {
    margin-top: 5px;
    margin-bottom: 35px;
}

.extension-tab {
    border: 0 !important;
}

span.math.inline {
    font-size: 27px;
    vertical-align: baseline !important;
}

div.svelte-15lo0d8 > *, div.svelte-15lo0d8 > .form > * {
    flex-wrap: nowrap;
}

.header_bar {
    background-color: #f7f7f7;
    margin-bottom: 19px;
    overflow-x: scroll;
    margin-left: calc(-1 * var(--size-4));
    margin-right: calc(-1 * var(--size-4));
    display: block !important;
    text-wrap: nowrap;
}

.dark .header_bar {
    border: none !important;
    background-color: #8080802b;
}

.header_bar button.selected {
    border-radius: 0;
}

.textbox_default textarea {
    height: calc(100dvh - 271px);
}

.textbox_default_output textarea {
    height: calc(100dvh - 185px);
}

.textbox textarea {
    height: calc(100dvh - 241px);
}

.textbox_logits textarea {
    height: calc(100dvh - 236px);
}

.textbox_logits_notebook textarea {
    height: calc(100dvh - 292px);
}

.monospace textarea {
    font-family: monospace;
}

.textbox_default textarea,
.textbox_default_output textarea,
.textbox_logits textarea,
.textbox_logits_notebook textarea,
.textbox textarea {
    font-size: 16px !important;
    color: #46464A !important;
}

.dark textarea {
    color: #efefef !important;
}

@media screen and (max-width: 711px) {
    .textbox_default textarea {
        height: calc(100dvh - 259px);
    }

    div .default-token-counter {
        top: calc( 0.5 * (100dvh - 236px) ) !important;
    }

    .transparent-substring {
        display: none;
    }

    .hover-menu {
        min-width: 250px !important;
    }
}

/* Hide the gradio footer*/
footer {
    display: none !important;
}

button {
    font-size: 14px !important;
}

.file-saver {
  position: fixed !important;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-left: -20px;
  margin-right: -20px;
}

.file-saver > :first-child {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center horizontally */
  width: 100%;
  max-width: 500px;
  background-color: var(--input-background-fill);
  border: var(--input-border-width) solid var(--input-border-color) !important;
}

.file-saver > :first-child > :nth-child(2) {
  background: var(--block-background-fill);
}

.checkboxgroup-table label {
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
}

.checkboxgroup-table div {
    display: grid !important;
}

.markdown ul ol {
    font-size: 100% !important;
}

.pretty_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.pretty_scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.pretty_scrollbar::-webkit-scrollbar-thumb,
.pretty_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c5c5d2;
}

.dark .pretty_scrollbar::-webkit-scrollbar-thumb,
.dark .pretty_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.pretty_scrollbar::-webkit-resizer {
  background: #c5c5d2;
}

.dark .pretty_scrollbar::-webkit-resizer {
  background: #374151;
}

audio {
  max-width: 100%;
}

/* Copied from https://github.com/AUTOMATIC1111/stable-diffusion-webui */
.token-counter {
  position: absolute !important;
  top: calc( 0.5 * (100dvh - 218px) ) !important;
  right: 2px;
  z-index: 100;
  background: var(--input-background-fill) !important;
  min-height: 0 !important;
}

.default-token-counter {
  top: calc( 0.5 * (100dvh - 248px) ) !important;
}

.token-counter span {
  padding: 1px;
  box-shadow: 0 0 0 0.3em rgba(192,192,192,0.15), inset 0 0 0.6em rgba(192,192,192,0.075);
  border: 2px solid rgba(192,192,192,0.4) !important;
  border-radius: 0.4em;
}

.no-background {
  background: var(--background-fill-primary) !important;
  padding: 0px !important;
}

/*----------------------------------------------
  Chat tab
----------------------------------------------*/
.h-\[40vh\], .wrap.svelte-byatnx.svelte-byatnx.svelte-byatnx {
    height: 66.67vh
}

.gradio-container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.w-screen {
    width: unset
}

div.svelte-362y77>*, div.svelte-362y77>.form>* {
    flex-wrap: nowrap
}

.pending.svelte-1ed2p3z {
    opacity: 1;
}

.wrap.svelte-6roggh.svelte-6roggh {
    max-height: 92.5%;
}

/* This is for the microphone button in the whisper extension */
.sm.svelte-1ipelgc {
    width: 100%;
}

#chat-tab button#Generate, #chat-tab button#stop {
    width: 89.3438px !important;
}

#chat-tab button, #notebook-tab button, #default-tab button {
    min-width: 0 !important;
}

#chat-tab > :first-child, #extensions {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 688px) {
    #chat-tab {
        padding-left: 0px;
        padding-right: 0px;
    }

    .chat-parent {
        height: calc(100dvh - 179px) !important;
    }

    .old-ui .chat-parent {
        height: calc(100dvh - 310px) !important;
    }
}

.chat {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    height: 100%;
    overflow-y: auto;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.chat-parent {
    height: calc(100dvh - 181px);
    overflow: auto !important;
}

.old-ui .chat-parent {
    height: calc(100dvh - 270px);
}

.chat-parent.bigchat {
    height: calc(100dvh - 181px) !important;
}

.chat > .messages {
    display: flex;
    flex-direction: column;
}

.chat .message:last-child {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.message-body li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.message-body li > p {
    display: inline !important;
}

.message-body ul, .message-body ol {
    font-size: 15px !important;
}

.message-body ul {
    list-style-type: disc !important;
}

.message-body pre:not(:last-child) {
    margin-bottom: 1.25em !important;
}

.message-body pre:last-child {
    margin-bottom: 0px !important;
}

.message-body code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    border: 1px solid var(--border-color-primary);
    border-radius: var(--radius-sm);
    background: var(--background-fill-secondary);
    font-size: 85%;
    padding: 1px 3px;
}

.message-body pre > code {
    display: block;
    padding: .5em .7em;
}

.message-body :not(pre) > code {
    white-space: normal !important;
}

#chat-input {
    padding: 0;
    padding-top: 18px;
    background: transparent;
    border: none;
}

#chat-input textarea:focus {
    box-shadow: none !important;
}

#chat-input > :first-child {
    background-color: transparent;
}

#chat-input .progress-text {
    display: none;
}

@media print {
    body {
        visibility: hidden;
    }

    .chat {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        max-width: unset;
        max-height: unset;
        width: 100%;
        overflow-y: visible;
    }
    
    .message {
        break-inside: avoid;
    }
    
    .gradio-container {
        overflow: visible;
    }
    
    .tab-nav {
        display: none !important;
    }
    
    #chat-tab > :first-child {
        max-width: unset;
    }
}

#show-controls {
    position: absolute;
    height: 100%;
    background-color: var(--background-fill-primary);
    border: 0px !important;
    border-radius: 0px;
}

#show-controls label {
    z-index: 1000;
    position: absolute;
    left: calc(100% - 168px);
}

#typing-container {
    display: none;
    position: absolute;
    background-color: transparent;
    left: -2px;
    padding: var(--block-padding);
}

.typing {
  position: relative;
}

.visible-dots #typing-container {
    display: block;
}

.typing span {
  content: '';
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: #3b5998;;
  position: absolute;
  left:0;
  top:0;
  border-radius: 50%;
}

.typing .dot1 {
  animation-delay: .2s;
  margin-left: calc(10px * 1.5);
}

.typing .dot2 {
  animation-delay: .4s;
  margin-left: calc(10px * 3);
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

#chat-tab .generating {
  display: none !important;
}

.hover-element {
  position: relative;
  font-size: 24px;
}

.hover-menu {
  display: none;
  position: absolute;
  bottom: 80%;
  left: 0;
  background-color: var(--background-fill-secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  min-width: 330px;
  flex-direction: column;
}

.hover-menu button {
  width: 100%;
  background: transparent !important;
  border-radius: 0px !important;
  justify-content: space-between;
  margin: 0 !important;
  height: 36px;
}

.hover-menu button:not(#clear-history-confirm) {
  border-bottom: 0 !important;
}

.hover-menu button:not(#clear-history-confirm):last-child {
  border-bottom: var(--button-border-width) solid var(--button-secondary-border-color) !important;
}

.hover-menu button:hover {
  background: var(--button-secondary-background-fill-hover) !important;
}

.transparent-substring {
  opacity: 0.333;
}

#chat-tab:not(.old-ui) #chat-buttons {
    display: none !important;
}

#gr-hover-container {
  min-width: 0 !important;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 20px;
  padding-bottom: 3px;
  flex-grow: 0 !important;
}

#generate-stop-container {
  min-width: 0 !important;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 3px;
  flex: 0 auto !important;
}

#chat-input-container {
  min-width: 0 !important;
}

#chat-input-container > .form {
  background: transparent;
  border: none;
}

#chat-input-row {
  padding-bottom: 20px;
}

.old-ui #chat-input-row, #chat-input-row.bigchat {
  padding-bottom: 0px !important;
}

#chat-col {
    padding-bottom: 115px;
}

.old-ui #chat-col, #chat-col.bigchat {
    padding-bottom: 95px !important;
}

.old-ui #chat-buttons #clear-history-confirm {
    order: -1;
}

.chat ol, .chat ul {
    margin-top: 6px !important;
}

/*----------------------------------------------
  Past chats menus
----------------------------------------------*/
#past-chats-row {
    margin-bottom: calc( -1 * var(--layout-gap) );
}

#rename-row label {
    margin-top: var(--layout-gap);
}

/*----------------------------------------------
  Keep dropdown menus above errored components
----------------------------------------------*/
.options {
    z-index: 100 !important;
}

/*----------------------------------------------
  Increase the height of the evaluation table
----------------------------------------------*/
#evaluation-table table {
    max-height: none !important;
    overflow-y: auto !important;
}
