.tabs.svelte-710i53 {
    margin-top: 0
}

.py-6 {
    padding-top: 2.5rem
}

.small-button {
    max-width: 171px;
    height: 39.594px;
    align-self: end;
}

.refresh-button {
    max-width: 4.4em;
    min-width: 2.2em !important;
    height: 39.594px;
    align-self: end;
    line-height: 1em;
    border-radius: 0.5em;
    flex: none;
}

.refresh-button-small {
    max-width: 2.2em;
}

#slim-column {
    flex: none !important;
    min-width: 0 !important;
}

.slim-dropdown {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

#download-label, #upload-label {
    min-height: 0
}

#accordion {
}

.dark svg {
    fill: white;
}

.dark a {
    color: white !important;
}

ol li p, ul li p {
    display: inline-block;
}

#main, #parameters, #chat-settings, #lora, #training-tab, #model-tab, #session-tab {
    border: 0;
}

.gradio-container-3-18-0 .prose * h1, h2, h3, h4 {
    color: white;
}

.gradio-container {
    max-width: 100% !important;
    padding-top: 0 !important;
}

#extensions {
    padding: 15px;
    margin-bottom: 35px;
}

.extension-tab {
    border: 0 !important;
}

span.math.inline {
    font-size: 27px;
    vertical-align: baseline !important;
}

div.svelte-15lo0d8 > *, div.svelte-15lo0d8 > .form > * {
    flex-wrap: nowrap;
}

.header_bar {
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.dark .header_bar {
    border: none !important;
    background-color: #8080802b;
}

.textbox_default textarea {
    height: calc(100vh - 390px);
}

.textbox_default_output textarea {
    height: calc(100vh - 200px);
}

.textbox textarea {
    height: calc(100vh - 251px);
}

.textbox_default textarea, .textbox_default_output textarea, .textbox textarea {
    font-size: 16px !important;
    color: #46464A !important;
}

.dark textarea {
    color: #efefef !important;
}

/* Hide the gradio footer*/
footer {
    display: none !important;
}

button {
    font-size: 14px !important;
}

.file-saver {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center horizontally */
  max-width: 500px;
  background-color: var(--input-background-fill);
  border: 2px solid black !important;
  z-index: 1000;
}

.dark .file-saver {
  border: 2px solid white !important;
}

.checkboxgroup-table label {
    background: none !important;
    padding: 0 !important;
    border: 0 !important;
}

.checkboxgroup-table div {
    display: grid !important;
}

.markdown ul ol {
    font-size: 100% !important;
}