.tabs.svelte-710i53 {
    margin-top: 0
}
.py-6 {
    padding-top: 2.5rem
}
.dark #refresh-button {
    background-color: #ffffff1f;
}
#refresh-button {
  flex: none;
  margin: 0;
  padding: 0;
  min-width: 50px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  background-color: #0000000d;
}
#download-label, #upload-label {
  min-height: 0
}
#accordion {
}
.dark svg {
  fill: white;
}
svg {
  display: unset !important;
  vertical-align: middle !important;
  margin: 5px;
}
ol li p, ul li p {
    display: inline-block;
}
#main, #settings, #chat-settings {
  border: 0;
}
