.tabs.svelte-710i53 {
    margin-top: 0
}

.py-6 {
    padding-top: 2.5rem
}

.dark #refresh-button {
    background-color: #ffffff1f;
}

#refresh-button {
  flex: none;
  margin: 0;
  padding: 0;
  min-width: 50px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  background-color: #0000000d;
}

#download-label, #upload-label {
  min-height: 0
}

#accordion {
}

.dark svg {
  fill: white;
}

.dark a {
  color: white !important;
  text-decoration: none !important;
}

ol li p, ul li p {
    display: inline-block;
}

#main, #parameters, #chat-settings, #interface-mode, #lora, #training-tab, #model-tab {
  border: 0;
}

.gradio-container-3-18-0 .prose * h1, h2, h3, h4 {
  color: white;
}

.gradio-container {
  max-width: 100% !important;
  padding-top: 0 !important;
}

#extensions {
  padding: 15px;
  margin-bottom: 35px;
}

span.math.inline {
  font-size: 27px;
  vertical-align: baseline !important;
}

div.svelte-15lo0d8 > *, div.svelte-15lo0d8 > .form > * {
  flex-wrap: nowrap;
}

.header_bar {
  background-color: #f7f7f7;
  margin-bottom: 40px;
}

.dark .header_bar {
  border: none !important;
  background-color: #8080802b;
}

.textbox_default textarea {
  height: calc(100vh - 391px);
}

.textbox_default_output textarea {
  height: calc(100vh - 210px);
}

.textbox textarea {
  height: calc(100vh - 261px);
}

.textbox_default textarea, .textbox_default_output textarea, .textbox textarea {
  font-size: 16px !important;
  color: #46464A !important;
}

.dark textarea {
  color: #efefef !important;
}

/* Hide the gradio footer*/
footer {
  display: none !important;
}

button {
  font-size: 14px !important;
}
