cache
characters
training/datasets
extensions/silero_tts/outputs
extensions/elevenlabs_tts/outputs
extensions/sd_api_pictures/outputs
logs
loras
models
repositories
softprompts
torch-dumps
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
*.bak
*.ipynb
*.log

settings.json
img_bot*
img_me*
prompts/[0-9]*
models/config-user.yaml

.DS_Store
Thumbs.db
