cache/*
characters/*
extensions/silero_tts/outputs/*
extensions/elevenlabs_tts/outputs/*
extensions/sd_api_pictures/outputs/*
logs/*
loras/*
models/*
softprompts/*
torch-dumps/*
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/

settings.json
img_bot*
img_me*

!characters/Example.json
!characters/Example.png
!loras/place-your-loras-here.txt
!models/place-your-models-here.txt
!softprompts/place-your-softprompts-here.txt
!torch-dumps/place-your-pt-models-here.txt
