version: "3.3"  # optional since v1.27.0
services:
  text-generation-webui:
    build: .
    ports:
      - "7860:7860"
    stdin_open: true
    tty: true
    volumes:
      - ./models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
