# both of these need the module "packaging" which is installed in requirements.txt
# this is necessary because the install order is wrong otherwise. seems like a bug in the dependency declaration of these packages.
causal-conv1d
mamba-ssm
