accelerate==0.25.*
colorama
datasets
einops
exllamav2==0.0.11
gradio==3.50.*
hqq==0.1.1.post1
lm_eval==0.3.0
markdown
numpy==1.24.*
optimum==1.16.*
pandas
peft==0.7.*
Pillow>=9.5.0
pyyaml
requests
rich
safetensors==0.4.1
scipy
sentencepiece
tensorboard
transformers==4.36.*
tqdm
wandb

# bitsandbytes
bitsandbytes==0.41.1; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl; platform_system == "Windows"
