accelerate==0.27.*
colorama
datasets
einops
gradio==3.50.*
hqq==0.1.3.post1
jinja2==3.1.2
lm_eval==0.3.0
markdown
numpy==1.26.*
optimum==1.17.*
pandas
peft==0.8.*
Pillow>=9.5.0
pyyaml
requests
rich
safetensors==0.4.*
scipy
sentencepiece
tensorboard
transformers==4.38.*
tqdm
wandb
