accelerate==0.17.1
bitsandbytes==0.37.1
flexgen==0.1.7
gradio==3.18.0
markdown
numpy
peft==0.2.0
requests
rwkv==0.7.0
safetensors==0.3.0
sentencepiece
tqdm
git+https://github.com/huggingface/transformers
