accelerate==1.0.*
colorama
datasets
einops
fastapi==0.112.4
gradio==4.26.*
jinja2==3.1.4
markdown
numba==0.59.*
numpy==1.26.*
pandas
peft==0.12.*
Pillow>=9.5.0
psutil
pydantic==2.8.2
pyyaml
requests
rich
safetensors==0.4.*
scipy
sentencepiece
tensorboard
transformers==4.46.*
tqdm
wandb

# API
SpeechRecognition==3.10.0
flask_cloudflared==0.0.14
sse-starlette==1.6.5
tiktoken
