# by default the Dockerfile specifies these versions: 3.5;5.0;6.0;6.1;7.0;7.5;8.0;8.6+PTX
# however for me to work i had to specify the exact version for my card ( 2060 ) it was 7.5
# https://developer.nvidia.com/cuda-gpus you can find the version for your card here
TORCH_CUDA_ARCH_LIST=7.5
# your command-line flags go here:
CLI_ARGS=--listen
# the port the webui binds to on the host
HOST_PORT=7860
# the port the webui binds to inside the container
CONTAINER_PORT=7860
# the port the api binds to on the host
HOST_API_PORT=5000
# the port the api binds to inside the container
CONTAINER_API_PORT=5000
# Comma separated extensions to build
BUILD_EXTENSIONS="openai"
# Use APP_UID and APP_GID set the user and group permissions for the app.
# Recommendation is to leave APP_UID as is then override the APP_GID with your host's user gid to share mounted dirs at runtime.
# You can find your host user group id with `id -g`
APP_UID=6972
APP_GID=6972
