accelerate==1.12.*
audioop-lts<1.0; python_version >= "3.13"
colorama
datasets
diffusers==0.36.*
einops
fastapi==0.112.4
html2text==2025.4.15
huggingface-hub==1.5.*
jinja2==3.1.6
markdown
numpy==2.2.*
pandas
peft==0.18.*
Pillow>=9.5.0
psutil
pydantic==2.11.0
pymupdf==1.27.1
python-docx==1.1.2
pyyaml
requests
rich
safetensors==0.7.*
scipy
sentencepiece
tensorboard
torchao==0.15.*
transformers==5.2.*
tqdm
wandb

# Gradio
https://github.com/oobabooga/gradio/releases/download/4.37.2-custom.4/gradio-4.37.2+custom.4-py3-none-any.whl
https://github.com/oobabooga/gradio/releases/download/4.37.2-custom.4/gradio_client-1.0.2+custom.4-py3-none-any.whl

# API
flask_cloudflared==0.0.15
sse-starlette==1.6.5
tiktoken
