accelerate==1.8.*
audioop-lts<1.0; python_version >= "3.13"
colorama
datasets
einops
fastapi==0.112.4
html2text==2025.4.15
huggingface-hub==0.36.0
jinja2==3.1.6
markdown
numpy==2.2.*
pandas
peft==0.18.*
Pillow>=9.5.0
psutil
pydantic==2.11.0
PyPDF2==3.0.1
python-docx==1.1.2
pyyaml
requests
rich
safetensors==0.7.*
scipy
sentencepiece
tensorboard
transformers==4.57.*
triton-windows==3.5.1.post21; platform_system == "Windows"
tqdm
wandb

# Gradio
gradio==4.37.*
https://github.com/oobabooga/gradio/releases/download/custom-build/gradio_client-1.0.2+custom.1-py3-none-any.whl

# API
flask_cloudflared==0.0.14
sse-starlette==1.6.5
tiktoken
