.character-gallery .gallery {
    margin: 1rem 0;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 0.4rem;
    grid-row-gap: 1.2rem;
    padding: 0;
  }
  
  .character-gallery > .label {
    display: none !important;
  }
  
  .character-gallery button.gallery-item {
    display: contents;
  }
  
  .character-container {
    cursor: pointer;
    text-align: center;
    position: relative;
    opacity: 0.85;
    perspective: 20px;
  }
  
  .character-container:hover {
    opacity: 1;
  }
  
  .character-container .placeholder, .character-container img {
    width: 150px;
    height: 200px;
    background-color: gray;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 50%);
  }
  
  .character-name {
    margin-top: 0.3rem;
    display: block;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    overflow-wrap: anywhere;
  
    transition-duration: 300ms;
    transition-property: top font-size;
    transition-timing-function: ease-out;
    position: relative;
    top: 0rem;
    text-align: center;
    width: 100%;
  }
  
  .character-container > img {
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: scale3d(1, 1, 1);
  }
  
  .character-container > div:has(.character-name) {
    position: relative;
    width: 100%;
  }
  
  .character-container > img.character-selected {
    transition-duration: 150ms;
    box-shadow: 0 4px 10px 4px #00000077;
    transform: scale3d(1.04, 1.04, 1.04)
  }
  
  .character-container > img.character-selected ~ div .character-name {
    transition-duration: 150ms;
    font-size: 1.05rem;
    top: 0.3rem;
  }
  
  .character-container .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }