name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * 0' # every 30 minutes
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          owner: oobabooga
          base: master
          head: master
